.iconItem{
    margin-right: 1.45em;
    text-align: center;
}

@media (min-width: 1170px) {
    .iconItem{
        flex-direction: row;
    }
}


.iconItem img{
    height: 40px;
}

.iconTitle {
    font-size: 1.2rem;
}

