.portfolioItem{
    padding: 2.857em;

    position: relative;
    overflow: hidden;

    background: #fff;
    box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.428em;
}

@media (min-width: 320px) {
    .portfolioItem{
        width: 24em;
        height: 100%;
        margin-left: -8em;
    }
}

@media (min-width: 1170px) {
    .portfolioItem{
        width: 39em;
        height: 46.428em;
        margin-left: 0;
    }
}


.portfolioImg {
    width: 20em;

    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 320px) {
    .portfolioImg{
       display: none;
    }
}

@media (min-width: 1170px) {
    .portfolioImg{
        display: block;
    }
}

.portfolioItem:nth-child(2n){
    margin: 4em 0;
}

.portfolioItemText{
    width: 18.57em;
    min-height: 12em;
    line-height: 1.7;
    font-size: 1.1em;
}

.portfolioItemTitle {
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: var(--text-font);
    max-width: 6em;
    margin-bottom: .6em;
}