.navBar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;
	background-color: var(--white-color);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	border-right: 2px solid var(--light-grey-color);
}

@media (min-width: 320px) {
	.navBar{
		padding: 1em;
	}
}

@media (min-width: 1170px) {
	.navBar{
		padding: 3em;
	}
}

.navBar a {
	-webkit-transition : -webkit-filter 100ms linear;
	display: block;
}


.navBar a:hover {
	color: var(--filter-color)
}
