.navBar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 120px;
	height: 100vh;
	padding: 40px 40px;
	background-color: var(--white-color);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	border-right: 2px solid var(--light-grey-color);
}

.navBar a {
	-webkit-transition : -webkit-filter 100ms linear;
	display: block;
}


.navBar a:hover {
	filter: var(--filter-color)
}
