.title {
    font-family: var(--head-font);
    margin-bottom: 1.35em;
    line-height: 80%;
}

@media (min-width: 320px) {
    .title {
        font-size: 2.1rem;
        line-height: 1.3;

    }
}

@media (min-width: 1170px) {
    .title {
        font-size: 4.285rem;
    }
}
