.currentProjectSection {

}

.projectDescriptionBox{
    padding: 2.857em;
    background: var(--light-grey-color);
    height: 30em;
    margin-top: 1em;
    border-radius: 0 2em 2em 0;
}

.currentProjectBox{
    display: flex;
    justify-content: space-between;
}

.currentProjectTitle {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: .6em;
}

.currentProjectText{
    line-height: 1.5;
}