.currentProjectSection {

}

.projectDescriptionBox{
    padding: 2.857em;
    background: var(--light-grey-color);

    margin-top: 1em;
    border-radius: 0 2em 2em 0;
}

@media (min-width: 320px) {
    .projectDescriptionBox {
        width: 120%;
        height: 100%;
    }
}

@media (min-width: 1170px) {
    .projectDescriptionBox {
        width: 100%;
        height: 30em;

    }
}


.currentProjectBox{
    display: flex;
    justify-content: space-between;
}


@media (min-width: 320px) {
    .currentProjectBox {
        flex-direction: column;
    }
}

@media (min-width: 1170px) {
    .currentProjectBox {
        flex-direction: row;
    }
}

.currentProjectTitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .6em;
}

.currentProjectText{
    line-height: 1.5;
    font-size: 1.15rem;
    min-height: 7em;
}