.footer {
    margin-top: 11.428em;
    margin-bottom: 3.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.copyright {
    margin-top: 10em;
    margin-left: 13em;
    color: #c4c4c4;
    font-family: var(--head-font);
    font-size: .9em;
}

.copyright span {
    margin-right: .5em;
}

