.progressItem {
	margin-bottom: 2em;
}

.progressItem:last-child {
	margin-bottom: 0;
}

.progressItemTitle{
	font-size: 1.28rem;
	margin-bottom: .3em;
}

.progressContainer {
	background-color: #c4c4c4;
	border-radius: 0.5rem;
}

.progress {
	background-color: var(--main-color);
	height: 5px;
	border-radius: 1rem;
}

.percent {
	margin-right: -1.5em;
	margin-bottom: .3em;
	font-size: 1.5rem;
	font-weight: 900;
}

.percent sup {
	margin-left: .1em;
}

.skillBox {
	margin-right: 8.3em;
}

@media (min-width: 320px) {
	.skillBox {
		width: 100%;
		margin-bottom: 2em;
		margin-top: 2em;
	}
}

@media (min-width: 1170px) {
	.skillBox {
		width: 60%;
	}
}

.textBox{
	display: flex;
	justify-content: space-between;
}