.introSection {
    padding-top: 12em;
    background: linear-gradient(-5deg, white 16%, var(--light-grey-color) 0%);
}

.textBox {
    width: 50.35em;
}

.avatar {
    width: 372px;
    height: 447px;
}


.textBox h1{
    font-size: 4.285rem;
    max-width: 11em;
    line-height: 1.2;
}


.textBox p{
    max-width: 40.357em;
    margin: 2.857em 0;
    line-height: 1.571em;

}

.textBox h1 strong{
    color: var(--main-color);
}