.introSection {
    padding-top: 12em;
    padding-bottom: 2em;
    background: linear-gradient(-5deg, white 16%, var(--light-grey-color) 0%);

}

.textBox {
    width: 50.35em;
}

@media (min-width: 320px) {
    .textBox{
        width: 100%;
    }
}

@media (min-width: 1170px) {
    .textBox{
        width: 50.35em;
        font-size: 1.2em;
        line-height: 1.5;

    }
}

@media (min-width: 320px) {
    .avatar{
        margin-top: 5em;
        width: 90%;
    }
}

@media (min-width: 1170px) {
    .avatar{
        width: 372px;
        height: 447px;
        margin-top: 0;
    }
}


.textBox h1{
    max-width: 10em;
    line-height: 1.2;
}

@media (min-width: 320px) {
    .textBox h1{
        font-size: 3.5rem;
    }
}

@media (min-width: 1170px) {
    .textBox h1{
        font-size: 4.285rem;
    }
}


.textBox p{
    margin: 2.857em 0;
    line-height: 1.571em;
}

@media (min-width: 320px) {
    .textBox p{
        max-width: 21em;
    }
}

@media (min-width: 1170px) {
    .textBox p{
        max-width: 40.357em;
    }
}

.textBox h1 strong{
    color: var(--main-color);
}