.successText{
    padding: 1em;
    margin-top: 3em;
    text-align: center;
    border: 2px solid forestgreen;
    border-radius: 10px;
    color: forestgreen;
    font-size: 1.2em;
    font-weight: bold;
}