.title{
    font-family: var(--head-font);
    color: rgba(199, 199, 211, .5);
    font-size: 5.071rem;
    text-transform: uppercase;
    letter-spacing: .24em;
    font-weight: 700;
    margin-bottom: .6em;
    line-height: 80%;
}

.skillSection {
    display: flex;
     margin-bottom: 6.5em;
}

.skillSection:last-child{
    margin-bottom: 0;
}