.contactLink {
    display: flex;
    width: 100%;
}

@media (min-width: 320px) {
    .contactLink {
        margin-bottom: 3em;
    }
}

@media (min-width: 1170px) {
    .contactLink {

    }
}

.contactLink:hover{
    filter: invert(49%) sepia(7%) saturate(6218%) hue-rotate(318deg) brightness(89%) contrast(109%);

}

.contactLink img {
    width: 10em;
}

.contactLinkText {
    display: block;
    max-width: 11em;
    align-self: center;
    margin-left: 1em;
    font-size: 1.714em;
    color: var(--secondary-color);
    font-weight: 700;
}