.menuContainer{
	width: 20%;
	height: 50%;
}

.closeButton{
	text-align: right;
}

.menuWrapper{
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background: rgba(0, 0, 0, .5);
	color: #fff;
	transition: .5s;

	webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}


.menu {

}

.menuList {

}

.menuList li {
	list-style: none;
	margin-bottom: 1em;
}

.menuList li a {
	font-size: 3em;
}

.menu nav {
	display: none;
}

.menu span {
    display: block;
    color: var(--secondary-color);
	text-transform: uppercase;
}
.menu .visible {
	display: block;
}


/* ANIMATION */

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
