.iconsSet {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2.5em;
    justify-content: space-between;
}

.iconsSetTitle{
    margin-bottom: .85em;
    font-size: 1.4rem;
}

.iconItems{

}
