.iconsSet {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2.5em;
    justify-content: space-between;
}

.iconsSetTitle{
    margin-bottom: .85em;
    font-size: 1.4rem;
}

.iconItems{

}

@media (min-width: 320px) {
    .iconItems{
        margin-bottom: 2em;
    }
}

@media (min-width: 1170px) {
    .iconItems{
        flex-direction: row;
    }
}

@media (min-width: 320px) {
    .iconsSet{
       flex-direction: column;
    }
}

@media (min-width: 1170px) {
    .iconsSet{
        flex-direction: row;
    }
}
