.contactsBox {
    background: var(--light-grey-color);
    position: relative;
    left: 5em;
    transform: rotate(-7deg);
    margin-top: 17em;
    padding-bottom: 8em;
}

.linksBox{
    display: flex;
    justify-content: space-around;
}

@media (min-width: 320px) {
    .linksBox{
        flex-direction: column;
    }
}

@media (min-width: 1170px) {
    .linksBox{
        flex-direction: row;
    }
}
