.contactsBox {
    background: var(--light-grey-color);
    position: relative;
    left: 5em;
    transform: rotate(-7deg);
    margin-top: 11.428em;
    padding-bottom: 8em;
}

.linksBox{
    display: flex;
    justify-content: space-around;
}
