.iconsSet {
    margin-bottom: 9em;
}

.iconsSet:last-child {
    margin-bottom: 0;
}

.iconsSetTitle{
    margin-bottom: .85em;
    font-size: 1.714rem;
}

.iconItems{
    display: flex;
}

@media (min-width: 320px) {
    .iconItems {
        flex-direction: column;
    }
}

@media (min-width: 1170px) {
    .iconItems {
        flex-direction: row;
    }
}

