.portfolioSection {
    position: relative;
    transform: rotate(-7deg);
    margin-top: 1em;
    width: 110%;
}


.portfolioItemsContainer{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) {
    .portfolioItemsContainer{
        flex-direction: column;
    }
}

@media (min-width: 1170px) {
    .portfolioItemsContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.gray{
    background: var(--light-grey-color);
}