.blogItem {
    height: 49.5em;

    position: relative;
    overflow: hidden;

    background: #fff;
    box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.428em;
}

@media (min-width: 320px) {
    .blogItem {
        width: 120%;
        height: 100%;
        padding-bottom: 3em;
    }
}

@media (min-width: 1170px) {
    .blogItem {
        width: 39em;
    }
}

.blogItem:nth-child(2n){
    margin: 4em 0;
}


.textBox {
    padding: 2em 2.8em 2.8em;
}

.blogItem a {
    display: block;
    float: right;
    margin-top: 2.2em;
}

.blogItemTitle {
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: var(--text-font);
    max-width: 8em;
    margin-bottom: .6em;
}

.blogItemText {
    line-height: 1.5;
    font-size: 1.2em;
}

