html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--text-font);
	overflow-x: clip;
}



a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.visible {
	display: flex!important;
}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

section{
	margin-top: 11.5em;
}

p {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

/* VARIABLES */

:root {
	/* COLORS */

	--main-color: #ec4646;
	--secondary-color: #46466e;
	--white-color: #fff;
	--text-color: #272121;
	--light-grey-color: #fcf9f9;
	--filter-color: invert(34%) sepia(36%) saturate(2565%) hue-rotate(333deg)
		brightness(106%) contrast(86%);

	/* FONTS */

	--head-font: 'Ubuntu', sans-serif;
	--text-font: 'Source Sans Pro', sans-serif;

	font-size: 0.875em; /* 14px */
}

/* GENERAL */

.container {
	max-width: 90%;
	width: 1170px;
	padding: 0 1.071em;
	margin: 0 auto;
}

.container--wider {
	max-width: 90%;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
}
.wrapper {
	transform: rotate(7deg);
}

.buttonContainer{
	margin-top: 8.5em;
	text-align: center;
}

.error{
	margin: 1em auto;
	font-size: 1.2em;
	color: var(--main-color);
	font-weight: 600;
}

/* ICON SET SMALL */

.small {
	font-size: .7rem;
	margin-top: 2.1em;
}

.small h4 {
	font-size: 1.3rem;
}

/* LOGOS STYLE */

.topLogo {
	position: absolute;
	right: 2.857em;
	top: 2.857em;
}

.bottomLogo {
	position: absolute;
	right: 2.857em;
	bottom: 0;

	-webkit-filter: grayscale(100%); /* black and white */
	filter: grayscale(100%);
	opacity: .5;
}